# General
.DS_Store
*.log
mongo.log*

# Docker
docker-compose.override.yml

# Data
mongo_data/
backend/mongo_data/
backend/uploads/

# Environment variables
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/

# Node
node_modules/
.next/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
