version: '3.8'

services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./backend/mongo_data:/data/db

  backend:
    build:
      context: ./backend
    ports:
      - "8001:8000"
    environment:
      - MONGODB_URL=mongodb://mongodb:27017
      - FRONTEND_URL=http://localhost:3001
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./next-app
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8001
    ports:
      - "3001:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8001
    depends_on:
      - backend
